{% extends "base.html" %}
{% block content%}

<div class="index">
    <h1>Welcome to rxncon</h1>
    <a href="https://www2.hu-berlin.de/biologie/theorybp/index.php"><img src="static/img/group_logo.png"
                                                                         width="25%"></a>
    <p> rxncon is a framework to build, visualise and model cellular signal transduction networks. The rxncon
        language enables the description of these networks. The rxncon software tool interprets the rxncon language and
        automates export into a range of graphical and mathematical formats.
        The purpose of rxncon is to provide a framework to collect, visualise and model experimental data on cellular
        networks. In the rxncon framework, cellular signal transduction networks are described at the same granularity
        as empirical data.
        The key feature is strict separation of elemental reactions from contingencies. Elemental reactions are generic
        reactions, and the contingencies define contextual constraints these reactions. This separation minimises the
        combinatorial complexity.
        The user defines the network as one reaction list and one contingency list. From these data mathematical and
        graphical representation can be generated. The network can be modified and extended iteratively, and both
        visualisation and mathematical models can be generated automatically at any time. </p>
</div>

<div class="project_from_file">
    <ol id="joyRide_project_from_file">
        <li data-href-template="static_pages/support.html">
            <h4> How to create a project from a MS Excel File</h4>
            <p> Once you created a Excel File in the <a href="{% url 'create_rxncon' %}" style="color: red">specified
                format</a>, you can create a project from that.</p></li>

        <li data-button="End" data-id="help">
            <p>For further instructions check out the other tutorials.</p>
        </li>
    </ol>

    {% load staticfiles %}

    <script type="text/javascript" src="{% static 'js/jquery-1.10.1.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.joyride-2.1.js'%}"></script>
    <script>
        $(window).load(function () {
            $('#joyRide_project_from_file').joyride({
                autoStart: true,
                postStepCallback: function (index, tip) {
                    if (index == 2) {
                        $(this).joyride('set_li', false, 1);
                    }
                },
                modal: true,
                expose: true
            });
        });

    </script>

</div>
{%endblock content%}