{% extends "base.html" %}
{% block head_title %}Funding | {{ block.super }}  {% endblock %}
{% block content%}
<h2>Funding</h2>
<p>Rxncon is funded by the Federal Ministry of Education and Research</p>
<a class="funding" href="https://www2.hu-berlin.de/biologie/theorybp/index.php"><img src="static/img/BMBF_Logo.svg"
                                                                                     width="50%"></a>

<h2>Previous Funding</h2>
<p><a class="funding" href="http://www.jsps.go.jp/english/">
    <img src="static/img/Japan-Society-600x227.jpg" width="50%"></img>
</a></p>
<p><a class="funding" href="http://www.stratresearch.se/en/">
    <img src="static/img/logotype-mobile-en_US.svg" width="50%"></img></p>
</a>
{%endblock content%}