{% extends "base.html" %}
{% block content%}
<div class="index">
    <h1>Welcome to the rxncon workbench</h1>

	<p>The workbench is a tool for working with rxncon models. If you are new to rxncon ("reaction-con"), you can learn more about it on <a href="https://rxncon.org" target="_blank">rxncon.org</a>.</p>
	
	<p>The workbench integrates the rxncon compiler with a local model repository under a single GUI. For a brief introduction to the workbench, please read the <a href="/getting_started">getting started page</a>.</p>
	
	
	<p>The rxncon compiler reads rxncon models and compiles them into graphical or executable formats. Currently, the compiler has three graphical (Reaction graph, elemental species-reaction graph, regulatory graph) and two executable (bipartite Boolean model, rule-based model) outputs.</p>
	
	
</div>
{%endblock content%}