{% extends "base.html" %}
{% block head_title %}Publications | {{ block.super }}  {% endblock %}
{% block content%}

<h2>Publications</h2>
    <p>
        Tiger, C.-F., Krause, F., Cedersund, G., Palmér, R., Klipp. E., Hohmann, S., Kitano, H. & Krantz, M. (2012)
    </br>
        <a href="http://www.nature.com/msb/journal/v8/n1/full/msb201212.html">
            A framework for mapping, visualisation and automatic model creation of signal transduction networks.
        </a>
        Molecular Systems Biology 8, 578.
    </p>
    <p>
        Magdalena Rother, Ulrike Münzner, Sebastian Thieme and Marcus Krantz (2013)
        </br>
        <a href="http://pubs.rsc.org/en/content/articlelanding/2013/mb/c3mb00005b">
            Information content and scalability in signal transduction network reconstruction formats.
        </a>
        Molecular BioSystems, DOI: 10.1039/C3MB00005B
    </p>
    <p>
        Max Flöttmann, Falko Krause, Edda Klipp and Marcus Krantz (2013)
        </br>
        <a href="http://www.biomedcentral.com/1752-0509/7/58/abstract">
            Reaction-contingency based bipartite Boolean modelling.
        </a>
        BMC Systems Biology 2013, 7:58, DOI:10.1186/1752-0509-7-58
    </p>
{%endblock content%}