{% extends "base.html" %}
{% block head_title %}Publications | {{ block.super }}  {% endblock %}
{% block content%}
<h2>How to cite rxncon</h2>
<p> If you used rxncon to model and simulate a biological system, please cite rxncon as: </p>
<p class="paper_ref">
    Tiger, C.-F., Krause, F., Cedersund, G., Palm&eacute;r, R., Klipp. E., Hohmann, S., Kitano, H. & Krantz, M. (2012)
    </br>
    <a href="http://www.nature.com/msb/journal/v8/n1/full/msb201212.html">
        A framework for mapping, visualisation and automatic model creation of signal transduction networks.
    </a>
    Molecular Systems Biology 8, 578.
</p>

<h2>Further Publications:</h2>
<p class="paper_ref">J. C. Romers, and M. Krantz (2017) </br>
    <a href="http://biorxiv.org/content/early/2017/02/08/107136">rxncon 2.0: a language for executable molecular
        systems biology</a>
    , bioRxiv, pp. 107136.
</p>
<p class="paper_ref">
    S. Thieme, J. C. Romers, U. M&uuml;nzner, and M. Krantz (2017) </br>
    <a href="http://biorxiv.org/content/early/2017/02/09/107235">
        Bipartite Boolean modelling-a method for mechanistic simulation and validation of large-scale signal
        transduction
        networks</a>,
    bioRxiv, pp. 107235.
</p>
<p class="paper_ref">
    Magdalena Rother, Ulrike M&uuml;nzner, Sebastian Thieme and Marcus Krantz (2013)
    </br>
    <a href="http://pubs.rsc.org/en/content/articlelanding/2013/mb/c3mb00005b">
        Information content and scalability in signal transduction network reconstruction formats.
    </a>
    Molecular BioSystems, DOI: 10.1039/C3MB00005B
</p>
<p class="paper_ref">
    Max Fl&ouml;ttmann, Falko Krause, Edda Klipp and Marcus Krantz (2013)
    </br>
    <a href="http://www.biomedcentral.com/1752-0509/7/58/abstract">
        Reaction-contingency based bipartite Boolean modelling.
    </a>
    BMC Systems Biology 2013, 7:58, DOI:10.1186/1752-0509-7-58
</p>
{%endblock content%}