{% extends "base.html" %}
{% block head_title %}Support | {{ block.super }}  {% endblock %}
{% block content%}

<h2>rxncon is using:</h2>
</br>
<div class="support_list">
    <ul>
        <li><a href="http://bionetgen.org">BioNetGen</a></li>
        <li><a href="http://click.pocoo.org/">Click</a></li>
        <li><a href="https://github.com/click-contrib/click-log">click-log</a></li>
        <li><a href="https://pypi.python.org/pypi/colorama">Colorama</a></li>
        <li><a href="https://www.djangoproject.com/">Django</a></li>
        <li><a href="GLYPHICONS.com">Glyphicons</a></li>
        <li><a href="https://github.com/python-excel/xlrd">NetworkX</a></li>
        <li><a href="http://www.numpy.org/index.html">NumPy</a></li>
        <li><a href="https://github.com/cjdrake/pyeda">PyEDA</a></li>
        <li><a href="http://doc.pytest.org/en/latest/license.html">pytest</a></li>
        <li><a href="https://www.scipy.org/index.html">SciPy</a></li>
        <li><a href="https://githu.com/python-excel/xlrd">xlrd</a></li>

    </ul>
</div>
{%endblock content%}