<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="/static/img/rxncon_logo_stretch.png" alt="rxncon"/>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Getting started
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'how_to_cite' %}">The rxncon format</a></li>
                    <li><a href="{% url 'getting_started' %}">The rxncon workbench</a>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Downloads
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="https://github.com/rxncon/models" target="_blank">Example System Files</a></li>
                    <li><a href="https://github.com/rxncon/tools/blob/master/rxncon2cytoscape.xml" target="_blank" download>Cytoscape Styles</a>
                    </li>
                </ul>
            </li>
        </ul>

        {% if loaded_system %}
        <ul class="nav navbar-nav" id="tools">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Visualisation
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/graphs/reaGraph">Reaction Graph</a></li>
                    <li><a href="/graphs/regGraph">Regulatory Graph</a></li>
                    <li><a href="/graphs/sReaGraph">Species Reaction Graph</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Model Export
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/bool/boolnet">Boolean Model</a></li>
                    <li><a href="/rule_based/rule_based">Rule Based Model</a></li>
                </ul>
            </li>
        </ul>

        <ul>
            <p class="navbar-text navbar-right"> Loaded:
                <a id="loaded_project" href="{{ loaded_system.get_absolute_url }}">'{{loaded_project_name}}'</a></p>
            {% else %}
        </ul>
        {% endif %}
    </div>
</nav>
