{% extends "base.html" %}
{% block head_title %} Del: {{ project_name | truncatechars:20 }} |{{file}} |{{ block.super }}  {% endblock %}
{% block content %}
<h2>Delete Boolean model</h2>
<h4>Are you sure you want to delete the BoolNet files?</h4>
<p>Created: {{ timestamp }}</p>
<p>Project: {{ project_name }}</p>

<p>Consider saving them first in the respective project detail view. </p>
<div class="btn-group btn-group-sm" role="group">
    <form class="form" method="post" action='' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-default" value="Delete">
        <a href="/" class="btn btn-default" role="button">Abort</a>
    </form>
</div>

{% endblock content %}graph_delete.html

