{% extends "base.html" %}

{% block content %}
<div class="error">
    <div class="error_header">
        <p>
        <h2>Error!</h2>
    </div>
    {% if sender_type != "Graph" %}
    <h4>An error as occured while parsing the provided rxncon definition.</h4> </p>
    <p><b>Project:</b> {{project_name}}</p>
    {% if file_name %}
    <p><b>File:</b> {{file_name}}</p>
    {% endif %}
    <p><b>Error: </b> {{error}}</p>
    <p>The project entry was created, but can not be loaded as no rxncon system can be generated.</p>
    {% if sender_type == "Quick" %}
    <p>You can edit the input <a href="{{sender.get_absolute_url}}edit">here</a>.</p>
    {% elif sender_type == "File" %}
    <p>You can provide a corrected version by klicking <a href="{{sender.upload_new_version}}">here</a>.</p>
    {% endif %}
    {% else %}
    <h4>And unexpected error happened while generating the graph file.</h4>
    <p>If you have provided a layouting template, please try again without specifying a file.</p>
    {% if error %}
    <p><b>Error: </b> {{error}}</p>
    {% endif %}
    {% endif %}


</div>


{% endblock content %}