{% with project|first as latest_file %}
<div class="list_row">
    <b class="caption"
       {% if latest_file.project_name == loaded_project_name %}
       style="color: green"
       {% endif %}
    >{{ latest_file.project_name }}</b>
    <div class="btn-group btn-group-sm" role="group">
        <a id="detail_button" href="{{ latest_file.get_absolute_url }}" class="btn btn-sm" role="button"
           title="View details">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </a>
        <a id="load_system" href="{% url 'fileTree:load' id=latest_file.id %}" class="btn btn-sm" title="Load file"
           role="button">
            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
        </a>
        <a href="{{ latest_file.get_download_url }}" class="btn btn-sm" role="button"
           title="Download latest project File">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        </a>
        <a href="{% url 'fileTree:delete_project' slug=latest_file.slug %}" class="btn btn-sm" role="button"
           title="Delete Project">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
        <a href="{{ latest_file.upload_new_version }}" class="btn btn-sm" role="button" title="Add file to project">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
    </div>
</div>
<div style="clear: both"></div>
{% endwith %}








