{% extends "base.html" %}
{% block head_title %}
Del:
{% if file %}
{{ project_name | truncatechars:20}}
{% elif project %}
{{project | truncatechars:20}}
{% endif %}
|
{{ block.super }}
{% endblock %}

{% block content %}
<div class="form-text">
    {% if file %}
    <h2>Delete File</h2>
    <h4>Are you sure you want to delete this file?</h4>
    <h4>Consider saving the <a href="{{download}}" title="Download" target="_blank" download>system definition</a>.</h4>
    <h5>Created: </h5>
    <p>{{ timestamp }}</p>
    <h5>Project: </h5>
    <p>{{ project_name }}</p>
    <h5>Filename: </h5>
    <p>{{ file }}</p>

    <div class="btn-group btn-group-sm" role="group">
        <form class="form" method="post" action='' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-default" value="Delete">
            <a href="/" class="btn btn-default" role="button">Abort</a>
        </form>
    </div>
    {% elif project %}
    <h2>Delete Project</h2>
    <h4>Are you sure you want to delete this project?</h4>
    <h4>Consider saving the latest <a href="{{download}}" title="Download" target="_blank" download>system
        definition</a>.</h4>
    <h5>Project: </h5>
    <p>{{ project }}</p>
    <h5>Latest file from : </h5>
    <p>{{ timestamp }}</p>
    <div class="btn-group btn-group-sm" role="group">
        <form class="form" method="post" action='' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-default" value="Delete">
            <a href="/" class="btn btn-default" role="button">Abort</a>
        </form>
    </div>

    {% endif %}
</div>

{% endblock content %}file_delete.html

