{% extends "base.html" %}

{% block content%}

<!--<div class="col-sm-6 col-sm-offset-3">-->
    <h2> {{ title }}</h2>
    <!--<div class="row">-->
    {% for project in projects %}
       <!--<div class="col-sm-12">-->

          <div class="caption">
          {% with project|first as latest_project %}
            <h3><b>
            <!--<h3><a href="{{ project.get_absolute_url }}">-->
                    {{ latest_project.project_name }} </b>
                <small>{{ latest_project.timestamp|timesince}} ago</small> </h3>
                <p> <a href="{{ latest_project.get_absolute_url }}" class="btn btn-primary" role="button">View details</a>
                    <a href="{{ latest_project.load_file }}" class="btn btn-primary" role="button">Load project file</a>
                    <a href="{{ latest_project.get_download_url }}" class="btn btn-primary" role="button">Download</a>
                </p>
        {% endwith %}

          </div>
        <!--</div>-->
      <!--</div>-->
    {% endfor %}
    {% comment %}
        <!--<div class="pagination">-->
        <!--<span class="step-links">-->
            <!--{% if projects.has_previous %}-->
                <!--<a href="?{{ page_request_var }}={{ projects.previous_page_number }}">previous</a>-->
            <!--{% endif %}-->

            <!--<span class="current">-->
                <!--Page {{ projects.number }} of {{ projects.paginator.num_pages }}.-->
            <!--</span>-->

            <!--{% if projects.has_next %}-->
                <!--<a href="?{{ page_request_var }}={{ projects.next_page_number }}">next</a>-->
            <!--{% endif %}-->
        <!--</span>-->
        <!--</div>-->
<!--</div>-->
    {% endcomment %}

<h2>Archive</h2>
{%endblock content%}




