{% extends "base.html" %}
{% block head_title %}New | {{ block.super }}  {% endblock %}
{% block content %}
<!--<div class="col-sm-6 col-sm-offset-3">-->
{% if not add_to_project %}
<label>Source:</label> </br>
<div class="btn-group" role="group">
    <a id="new_from_file" class="btn btn-default" href="/files/upload" title="Create new project">Spreadsheet</a>
    <a href="/quick/new" class="btn btn-default" id="new_button" role="button">Text input</a>
</div>
{% endif %}


<div class="form-text">
    {% if add_to_project %}
    <h2 class="form"> Add file to '{{project_name}}'</h2>
    {% else %}
    <h2 class="form"> Upload file</h2>
    {% endif %}
    <form class="form" method="post" action='' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-default" value="Upload File">
    </form>
</div>
<!--</div>-->
{% endblock content %}file_form.html