{% extends "base.html" %}
{% block content%}

<div class="index">
    <h1>The rxncon workbench - getting started</h1>
</div>

<h3>If you are reading this, you have successfully installed the rxncon workbench. This page gives you a
    quick overview on how to use it.</h3>

<div class="getting_started">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">First step: the rxncon model</h2>
        </div>
        <div class="panel-body">
            <p>The first step is to provide a rxncon model. The workbench takes two types of input, quick and spreadsheet. The quick format is text based and typed directly into the workbench, which makes it good for trying out small models. For larger networks, we strongly encourage the use of the spreadsheet template. The template and example models can be downloaded from GitHub (<a href="https://GitHub.com/rxncon/models">download here</a>).</p>
			
			<p>The workbench is installed with an example model of the High Osmolarity Glycerol (HOG) pathway from baker's yeast.</p>

			<p>Read more: <a href="https://www.biorxiv.org/content/early/2017/09/05/107136">The rxncon language</a>; model building workflow (coming soon); <a href="http://onlinelibrary.wiley.com/doi/10.1002/9783527696130.ch8/summary">network reconstruction</a></p>
			
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Creating a project</h2>
        </div>
        <div class="panel-body">
            <p>On the left hand side you see your project sidebar. Here, all rxncon systems you create will be
                displayed.</p>
            <p>After clicking the "New" button, you can create a project by either providing a spreadsheet file in the
                SBtab rxncon format or by direct text input. Furthermore you must specify a
                project name and can add a comment.</p>
            <p>Once created, the project will appear in the project sidebar together with buttons to view details, load
                it to the workspace (see below), delete it or edit it. If the source was a spreadsheet file, you
                can update the model by loading a new file in project. The older versions are kept and versioned, preventing accidental data loss and allowing you to go back to an older version. Hitting the delete
                button in the project sidebar will delete all versions at once.</p>
            <p>When a project is created, it automatically is loaded to the workspace.</p>

        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Exporting visualization and simulation files</h2>
        </div>
        <div class="panel-body">
            <p>The rxncon workbench enables you to compare project definitions amongst each other and export them to
                visualization and simulation files.</p>
			<p>There are three graphical compilation targets:
				<ol>
					<li>Reaction graph</li>
					<li>Elemental species-reaction graph</li>				
					<li>Regulatory graph</li>
				</ol>
			<p>The graphs are exported to the XGMML format, which can be imported to Cytoscape (free download at cytoscape.org). We provide formatting files on GitHub (<a href="https://GitHub.com/rxncon/tools">the rxncon2cytoscape file</a>).</p>
			<p>To create a graph, select the desired type from "visualisation" in the top menu and click "create graph". Note: you can keep the layout of previous versions by loading an .xgmml file with layout as template. Nodes with identical names will retain their positions.</p>
			<p>There are two executable compilation targets:</p>
				<ol>
					<li>Bipartite Boolean model (<a href="https://www.biorxiv.org/content/early/2017/11/10/107235">Read more</a>)</li>				
					<li>Rule-based model</li>
				</ol>
			<p>The Boolean model can be simulated with BoolNet, a freely available R package. We have provided a script for simulation <a href="https://GitHub.com/rxncon/tools">here</a>. The rule based model uses the BioNetGen language, and is prepared for simulation with NFsim.</p>
			<p>To create a model, select the desired type from  "Model export" in the top menu.</p>
            <p>The exported files will are made available in the respective detail view. You can also compare every
                project, by clicking the "Compare" button in every detail view, that is not the one of the loaded
                project.</p>
			<p>Visualisation and simulation rely on external software (Cytoscape, BoolNet, NFsim), and cannot be done within the workbench.</p>
	
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Loading a project to the workspace</h2>
        </div>
        <div class="panel-body">
            <p>You can load a project by clicking the respective lightning button in either the project sidebar or the
                respective detail view. This changes the navigation bar on the top and shows all export
                possibilities.</p>
            <p>Before a project is loaded to the workspace, rxncon checks the system for errors or missing information.
                Therefore only a consistent project can be loaded. An error message is shown otherwise.</p>
            <p>When a project is created, it automatically is loaded to the workspace.</p>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Error handling: The underlying database</h2>
        </div>
        <div class="panel-body">
            <p>The underlying meta data of any project or export is saved in an underlying database. Due to unexpected/
                unknown errors, it may happen that the project directory and the data base are out of synchronization,
                e.g.
                when a project exists in the database, but not in the sidebar. This can cause the workbench to only
                display
                error messages, no matter what you click. In this case, call the URL of your home directory and add
                "/admin"
                to its end (e.g. localhost:8000/admin) in your URL bar or clicking <a href="/admin">here</a>.</p>
            <p>You can log into the database administration with the following account:</p>
            <p style="margin-left: 25px">
                <b>User: </b> admin </br>
                <b>Password: </b> adminrxncon
            </p>
        </div>
    </div>


</div>
{%endblock content%}