{% extends "base.html" %}
{% block content%}

<div class="index">
    <h1>The rxncon workbench - getting started</h1>
</div>

<h3>If you are reading this, you have successfully installed the rxncon workbench. This page shall give you a
    quick overview on how to use it.</h3>

<div class="getting_started">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">First step: the rxncon format</h2>
        </div>
        <div class="panel-body">
            <p>The rxncon workbench's purpose is to make the rxncon toolbox available to everyone despite the prior
                knowledge in computer science. One must only be able to create a rxncon system definition in MS Excel.
                If this is not the case yet, I strongy suggest you check out the
                <a href="/how_to_cite">Publications</a> page and read the provided papers, in order to understand the
                rxncon format.</p>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Creating a project</h2>
        </div>
        <div class="panel-body">
            <p>On the left hand side you see your project sidebar. Here, all rxncon systems you create will be
                displayed.</p>
            <p>After clicking the "New" button, you can create a project by either providing a spreadsheet file in the
                SBtab rxncon format (see Romers, Krantz paper), or by direkt text input. Furthermore you must provide a
                project name and can add a comment.</p>
            <p>Once created, the project will pop up in the project sidebar amongst buttons to view its details, load
                it to the workspace(explained later), delete it or edit it. If the source was a spreadsheet file, you
                can
                also add updated system definitions to the project. Older versions are kept to prevent accidental data
                loss and must be deleted manually in the respective detail view of the project. Hitting the delete
                button in the project sidebar will delete all versions at once.</p>
            <p>When a project is created, it automatically is loaded to the workspace.</p>

        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Exporting visualization and simulation files</h2>
        </div>
        <div class="panel-body">
            <p>The rxncon workbench enables you to compare project definitions amongst each other and export them to
                visualization and simulation files. We use the XGMML format for visualization, that can be opened with
                Cytoscape software. Mathematical simulation is enabled with the automatic export to a rule-based model
                and
                a boolean model for the R package "BoolNet" (CRAN). In order to do so, one must specify the project of
                interest, by loading it to the workspace.</p>
            <p>The exported files will are made available in the respective detail view. You can also compare every
                project, by clicking the "Compare" button in every detail view, that is not the one of the loaded
                project.</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Loading a project to the workspace</h2>
        </div>
        <div class="panel-body">
            <p>You can load a project, by clicking the respective lightning button in either the project sidebar or the
                respective detail view. This changes the navigation bar on the top and shows all export
                possibilities.</p>
            <p>Before a project is loaded to the workspace, rxncon checks the system for errors or missing information.
                Therefore only a consistent project can be loaded. An error message is shown otherwise.</p>
            <p>When a project is created, it automatically is loaded to the workspace.</p>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Error handling: The underlying database</h2>
        </div>
        <div class="panel-body">
            <p>The underlying meta data of any project or export is saved in an underlying database. Due to unexpected/
                unknown errors, it may happen that the project directory and the data base are out of synchronization,
                e.g.
                when a project exists in the database, but not in the sidebar. This can cause the workbench to only
                display
                error messages, no matter what you click. In this case, call the URL of your home directory and add
                "/admin"
                to its end (e.g. localhost:8000/admin) in your URL bar or clicking <a href="/admin">here</a>.</p>
            <p>You can log into the database administration with the following account:</p>
            <p style="margin-left: 25px">
                <b>User: </b> admin </br>
                <b>Password: </b> adminrxncon
            </p>
        </div>
    </div>


</div>
{%endblock content%}