{% extends "base.html" %}
{% block head_title %}Publications | {{ block.super }}  {% endblock %}
{% block content%}
<h4>The following publications give you an overview of the rxncon format introduces the Boolean model export:</h4>
</br> </br>
    <p class="paper_ref">
        <b>The rxncon language:</b> Romers JC and Krantz M (2017)</br>
        <a href="http://biorxiv.org/content/early/2017/02/08/107136">rxncon 2.0: a language for executable molecular
            systems biology</a>
        , bioRxiv, doi:10.1101/107136
    </p>

    <p class="paper_ref">
        <b>Parameter-free simulation of rxncon networks:</b>
        Thieme S*, Romers JC*, M&uumlnzner U and Krantz M (2017) </br>
        <a href="http://biorxiv.org/content/early/2017/02/09/107235">
            Bipartite Boolean modelling-a method for mechanistic simulation and validation of large-scale signal
            transduction
            networks</a>,
         bioRxiv, doi: 10.1101/107235
    </p>

    <p class="paper_ref">
        <b>The rxncon workbench and graph formats:</b>
        Wajnberg M, Thieme S, Romers J and Krantz M</br>
        The rxncon workbench. In preparation.
    </p>
{%endblock content%}