{% extends "base.html" %}
{% block head_title %} {{ instance.title }} | {{ block.super }}  {% endblock %}


{% block content %}
<!--<div class="col-sm-6 col-sm-offset-3">-->
<div class="detail">
    <h2> {{ title }} </br> <small>{{instance.timestamp}}</small></h2>
    <h4>Name: </h4>
    <h5>{{ instance.name }}</h5>

    <h4>System: </h4>
    <p>{{instance.quick_input|linebreaks}}</p>

    <h5>Comment:</h5>
    <p>{{instance.comment|linebreaks}}</p>

    <h5>Infos:</h5>
    <ul>
        <li>Number of Reactions: {{ nr_reactions }}</li>
    </ul>

    EDIT BUTTON
    <!--TODO: create edit button,m and view/form like in post -->

</div>

<!--</div>-->
{% endblock content %}