{% extends "base.html" %}
{% block head_title %} Del: {{ name | truncatechars:20 }} | {{ block.super }}  {% endblock %}
{% block content %}
<div class="form-text">
    <h2>Delete quick format system</h1>
        <h4>Are you sure you want to delete this system definition?</h4>
        <h4>Consider saving the <a href="{{download}}" title="Download" target="_blank" download>system definition</a>.
        </h4>
        <h5>Created: </h5>
        <p>{{ timestamp }}</p>
        <h5>Name: </h5>
        <p>{{ name }}</p>
        <h5>System: </h5>
        <p>{{quick_input|linebreaks}}</p>

        <div class="btn-group btn-group-sm" role="group">
            <form class="form" method="post" action='' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-default" value="Delete">
                <a href="/" class="btn btn-default" role="button">Abort</a>
            </form>
        </div>
</div>
{% endblock content %}quick_delete.html

