{% if quick_definitions %}

<div class="sidebar_header" id="quick_sidebar_header">
    <h4>Text input</h4>
    <!--<a href="/quick/new" class="btn btn-primary btn-xs" id="new_button" role="button">New</a>-->
</div>
<div style="clear: both;"></div>
{% for quick in quick_definitions|slice:":3" %}
{% include "quick_list_items.html" %}
{% endfor %}

{% if quick_definitions_length > 3 %}
<div id="collapse_qList">
    <a class="btn btn-link" role="button" style="float: none;">
        <span class="button-text">Show more</span>
    </a><br/>
    <div style="display: none">
        {% for quick in quick_definitions|slice:"3:" %}
        {% include "quick_list_items.html" %}
        {% endfor %}
    </div>
</div>
<div style="clear: both;"></div>

<script type="text/javascript">
    $('#collapse_qList > a').click(function () {
        var span = $(this).find('span');
        if (span.text() == "Show more") {
            span.text("Show less");
        } else {
            span.text("Show more");
        }
        $(this).next().next().slideToggle();
        return false;
    });
</script>
{% endif %}

{% endif %}

