<h2>Quick Formats</h2>
<p><a href="/quick/new" class="btn btn-primary" role="button">new quick definition</a></p>
{% for quick in quick_definitions|slice:":3" %}
  {% include "quick_list_items.html" %}
{% endfor %}

{% if quick_definitions_length > 3 %}
    <div id="menu">
        <a class="btn btn-link" role="button">
            <span class="button-text">Show more</span>
        </a><br />
        <div style="display: none">
            {% for quick in quick_definitions|slice:"3:" %}
              {% include "quick_list_items.html" %}
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
        $('#menu > a').click(function(){
            var span = $(this).find('span');
            if(span.text() == "Show more"){
                span.text("Show less");
            } else {
                span.text("Show more");
            }
            $(this).next().next().slideToggle();
            return false;
        });
    </script>
{% endif %}

