{% extends "base.html" %}
{% block head_title %} {{ instance.title }} | {{ block.super }}  {% endblock %}
{% block content %}
<h1> Create regulatory graph</h1>
<h2> Project: {{ loaded_system.project_name }}</h2>

<form method="post" action="{% url 'graphs:regGraphCreate' file_id=loaded_system.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p}}
    <p>Use layout template:<input type="file" name="template"> Note: Show media roo tinfo here. does not work{{ MEDIA_ROOT }}</p>
    <input type="submit" value="Create graph" />
</form>



{% endblock content %}file_form.html