{% extends "base.html" %}
{% block head_title %} Create Graph:{{ loaded_project_name | truncatechars:20 }} | {{ block.super }}  {% endblock %}
{% block content %}
<h2> Create rule based model</h2>
<h4> Project: {{ loaded_project_name }}</h4>

<form class="form" method="post" enctype="multipart/form-data"
      action="{% url 'rule_based:rule_basedCreate' system_id=loaded_system.id %}">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" class="btn btn-default" value="Create model"/>
</form>

{% endblock content %}rule_form.html