<div class="sidebar_header" id="xls_sidebar_header">
    <h4>From .xls file</h4>
    <a id="new_from_file" class="btn btn-primary btn-xs " href="/files/upload" title="Create new project">
        New
    </a>
</div>
<div style="clear: both;"></div>
{% for project in projects|slice:":3" %}
{% if project.project_name %}
{% include "file_list_items.html" %}
{% endif %}
{% endfor %}

{% if projects_length > 3 %}
<div id="collapse_pList">
    <a class="btn btn-link" role="button" style="float: none;">
        <span class="button-text">Show more</span>
    </a><br/>
    <div style="display: none">
        {% for project in projects|slice:"3:" %}
        {% include "file_list_items.html" %}
        {% endfor %}
    </div>
</div>
<!--<div style="clear: both;"></div>-->

<script type="text/javascript">
    $('#collapse_pList > a').click(function () {
        var span = $(this).find('span');
        if (span.text() == "Show more") {
            span.text("Show less");
        } else {
            span.text("Show more");
        }
        $(this).next().next().slideToggle();
        return false;
    });
</script>
{% endif %}






