.navbar a {
    font-size: 11px;
}

.navbar-header {
    width: 20%;
}

.navbar-brand {
    padding-top: 6px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 0;
}

.navbar a:link {
    text-decoration: none;
}

.navbar-right {
    margin: 16px -10px 16px 0px;
    align-self: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 20em;
    /*margin-right: -10px;*/

}

.container-fluid {
    margin-top: 5px;
    margin-bottom: 5px;

}

h1, h2 {
    color: #777777;
}

body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
    color: #000;
}

body p {
    font-size: 11px;
}

/* ~~ Element-/Tag-Selektoren ~~ */
ul, ol, dl { /* Aufgrund von Abweichungen zwischen verschiedenen Browsern empfiehlt es sich, die Auffüllung und den Rand in Listen auf 0 einzustellen. Zu Konsistenzzwecken können Sie die gewünschten Werte entweder hier oder in den enthaltenen Listenelementen (LI, DT, DD) eingeben. Beachten Sie, dass die hier eingegebenen Werte hierarchisch auf die .nav-Liste angewendet werden, sofern Sie keinen spezifischeren Selektor festlegen. */
    padding: 0;
    margin: 0;
}

/*h1, h2, h3, h4, h5, h6, p {*/
/*margin-top: 0;	 !* Durch Verschieben des oberen Rands wird das Problem behoben, dass Ränder aus dem zugehörigen div-Tag geraten können. Der übrig gebliebene untere Rand hält ihn getrennt von allen folgenden Elementen. *!*/
/*padding-right: 15px;*/
/*padding-left: 15px; !* Durch Hinzufügen der Auffüllung zu den Seiten der Elemente innerhalb der div-Tags anstelle der div-Tags selbst entfallen jegliche Box-Modell-Berechnungen. Alternativ kann auch ein verschachteltes div-Tag mit seitlicher Auffüllung verwendet werden. *!*/
/*}*/
a img { /* Dieser Selektor entfernt den standardmäßigen blauen Rahmen, der in einigen Browsern um ein Bild angezeigt wird, wenn es von einem Hyperlink umschlossen ist. */
    border: none;
}

/* ~~ Die Reihenfolge der Stildefinitionen für die Hyperlinks der Site, einschließlich der Gruppe der Selektoren zum Erzeugen des Hover-Effekts, muss erhalten bleiben. ~~ */
a:link {
    /*color:#414958; */
    text-decoration: underline; /* Sofern Ihre Hyperlinks nicht besonders hervorgehoben werden sollen, empfiehlt es sich, zur schnellen visuellen Erkennung Unterstreichungen zu verwenden. */
}

a:visited {
    /* color: #4E5869; */
    text-decoration: underline;
}

a:hover, a:active, a:focus { /* Durch diese Gruppe von Selektoren wird bei Verwendung der Tastatur der gleiche Hover-Effekt wie beim Verwenden der Maus erzielt. */
    text-decoration: none;
}

/* ~~ Dieser Container umschließt alle anderen div-Tags und weist ihnen ihre als Prozentwert definierte Breite zu. ~~ */
.container {
    width: 80%;
    max-width: 1260px; /* Es empfiehlt sich die Eingabe einer maximalen Breite (Eigenschaft max-width), damit dieses Layout auf einem großen Bildschirm nicht zu breit angezeigt wird. Dadurch bleibt die Zeilenlänge besser lesbar. IE6 berücksichtigt diese Deklaration nicht. */
    min-width: 780px; /* Es empfiehlt sich die Eingabe einer minimalen Breite (Eigenschaft min-width), damit dieses Layout nicht zu schmal angezeigt wird. Dadurch bleibt die Zeilenlänge in den seitlichen Spalten besser lesbar. IE6 berücksichtigt diese Deklaration nicht. */
    background-color: #FFF;
    margin: 0 auto; /* Der mit der Breite gekoppelte automatische Wert an den Seiten zentriert das Layout. Er ist nicht erforderlich, wenn Sie die Breite von .container auf 100 Prozent setzen. */
}

/* ~~ Für die Kopfzeile wird keine Breite angegeben. Sie erstreckt sich über die gesamte Breite des Layouts. Sie enthält einen Bild-Platzhalter, der durch Ihr eigenes, mit Hyperlink versehenes Logo ersetzt werden sollte. ~~ */
.header {
    background-color: #FBFBFB;
}

/* ~~ Dies sind die Spalten für das Layout. ~~

1) Eine Auffüllung wird nur oben und/oder unten in den div-Tags positioniert. Die Elemente innerhalb dieser div-Tags
verfügen über eine seitliche Auffüllung. Dadurch müssen Sie keine Box-Modell-Berechnungen durchführen.
Zu beachten: Wenn Sie dem div-Tag eine seitliche Auffüllung oder einen Rahmen hinzufügen, werden diese zu der f
estgelegten Breite addiert und ergeben die *gesamte* Breite. Sie können auch die Auffüllung für das Element im div-Tag
entfernen und ein zweites div-Tag ohne Breite und mit der gewünschten Auffüllung im ersten div-Tag einfügen.

2) Für die Spalten wurde kein Rand angegeben, da es sich um fließende Spalten handelt. Wenn Sie unbedingt einen Rand
hinzufügen möchten, platzieren Sie ihn nicht auf der Seite in Flussrichtung (z. B. ein rechter Rand in einem div-Tag,
das so festgelegt ist, dass das Element nach rechts fließt). In vielen Fällen kann stattdessen eine Auffüllung verwendet
werden. Bei div-Tags, bei denen diese Regel gebrochen werden muss, sollten Sie der Regel des div-Tags eine
display:inline-Deklaration hinzufügen, um das Problem zu umgehen, dass in einigen Versionen von Internet Explorer der
Rand doppelt angezeigt wird.

3) Da Klassen in einem Dokument mehrmals verwendet werden können (und zudem auf ein Element mehrere Klassen angewendet
werden können), wurden den Spalten Klassennamen statt IDs zugewiesen. Beispielsweise können zwei div-Tags für eine
Seitenleiste bei Bedarf gestapelt werden. Diese div-Tags können problemlos in IDs geändert werden, solange Sie sie nur
einmal pro Dokument verwenden.

4) Wenn Sie die Navigation auf der rechten statt auf der linken Seite platzieren möchten, lassen Sie diese Spalten e
infach in die andere Richtung fließen (alle nach rechts anstatt alle nach links). Die Spalten werden dann in umgekehrter
Reihenfolge dargestellt. Die div-Tags in der HTML-Quelle müssen nicht verschoben werden.

*/
.sidebar1 {
    float: left;
    width: 20%;
    background-color: #F4F4F4;
    padding: 10px;
    padding-right: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar1 h3, h4, b {
    padding-left: 0px;
    display: inline
}

.sidebar1 h3 {
    float: left;
}

.sidebar1 a {
    float: right;
}

.sidebar1 .btn-link {
    font-size: 11px;
}

.sidebar_header {
    margin-bottom: 18px;
}

.sidebar1 .btn-sm {
    font-size: 11px;
    padding: 5px;
}

.sidebar1 b {
    margin: auto;
    display: block;
}

.caption {
    padding-top: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #a4a4a4;
}

.list_row {
    /*padding-left: 15px;*/

}

.list_row h4 {
    float: left;
}

.list_row .btn-group {
    float: left;
    padding: auto;
}

a.btn {
    text-decoration: none;
}

h4.caption {
    display: inline-block;
}

.content {
    padding: 10px 15px;
    width: 70%;
    float: left;
}

/*.detail_header{*/
/*padding-left: 15px;*/
/*padding-right: 15px;*/
/*}*/

.detail_header h2 {
    margin-top: 0;
}

.detail_content .project_name {
    font-size: 11px;
    text-decoration: underline;
    /*text-decoration: none;*/
    /*color: #555;*/
    color: #333;
}

.detail_content .compare_button {
    margin-left: 20px;
}

.detail_content tr {
    text-indent: 25px;

}

.detail_content .btn-group {
    text-indent: 0;
}

.detail_content ul {
    text-indent: 20px;
    list-style-type: none;
}

.detail_content p {
    margin-left: 20px;
    text-align: justify;
}

.reg_graph_comment {
    text-indent: 20px;
}

.boolean_model h6 {
    margin-left: 25px;
}

.boolnet_comment {
    margin-left: 25px;
}

.boolean_model_files {
    margin-left: 25px;
}

.rule_based_model h6 {
    margin-left: 25px;
}

.rule_based_comment {
    margin-left: 25px;
}

.support_list {
    margin-left: 25px;
}

.compare_button {
    margin: 5px;
}

/* ~~ Dieser gruppierte Selektor gibt die Listen im .content-Bereich an. ~~ */
/*.content ul, .content ol {*/
/*padding: 0 15px 15px 40px; !* Diese Auffüllung setzt die rechte Auffüllung in der obigen Regel für Überschriften und Absätze fort. Die Auffüllung wurde unten für den Abstand zwischen anderen Elementen in den Listen und links für den Einzug platziert. Sie können die Werte nach Bedarf ändern. *!*/
/*}*/

/* ~~ Fußzeile ~~ */

.footer {
    padding: 10px 0;
    background-color: #FBFBFB;
    position: relative; /* Hiermit erhält IE6 die Eigenschaft hasLayout, damit die clear-Anweisung korrekt ausgeführt wird. */
    clear: both; /* Diese clear-Eigenschaft bewirkt, dass .container das Ende der fließenden Spalten erkennt und ihren Inhalt aufnimmt. */
    text-align: center;
}

.footer a img {
    border: none;
    color: #555;
}

.footer a:link {
    text-decoration: none;
    color: #555;
    padding-left: 3px;
    padding-right: 3px;
}

.footer a:visited {
    text-decoration: none;
    color: #555;
}

.footer a:hover, a:active, a:focus {
    text-decoration: none;
}

/* ~~ Verschiedene float/clear-Klassen ~~ */
.fltrt { /* Mit dieser Klasse können Sie ein Element auf der Seite nach rechts fließen lassen. Das fließende Element muss vor dem Element stehen, neben dem es auf der Seite erscheinen soll. */
    float: right;
    margin-left: 8px;
}

.fltlft { /* Mit dieser Klasse können Sie ein Element auf der Seite nach links fließen lassen. Das fließende Element muss vor dem Element stehen, neben dem es auf der Seite erscheinen soll. */
    float: left;
    margin-right: 8px;
}

.clearfloat { /* Diese Klasse kann in einem <br />-Tag oder leeren div-Tag als letztes Element nach dem letzten fließenden div-Tag (im #container) platziert werden, wenn #footer entfernt oder aus dem #container herausgenommen wird. */
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
}

/*.form-text {*/
/*padding-left: 15px;*/
/*}*/

.form {
    text-align: left;
}

.form label {
    display: block;
}

.form textarea, .form input {
    margin-left: 20px;
}

.form .btn {
    margin: 0;
}

.form-text p {
    margin-left: 20px;
    text-align: justify;
}

.index p {
    text-align: justify
}

.index img {
    float: right;
}

.index h1 {
    margin-top: 0;
}

/*TOUR*/
.joyride-tip-guide[data-index="2"] {
    margin-left: 16px;
}

.joyride-tip-guide[data-index="4"] {
    margin-left: 16px;
}

.joyride-tip-guide[data-index="5"] {
    margin-left: -15px;
    margin-top: 16px;
}

.joyride-tip-guide[data-index="5"] span.joyride-nub.top {
    margin-left: -9px;
    /*margin-top: 16px;*/
}

.joyride-tip-guide[data-index="7"] {
    margin-top: 15px;
    margin-right: 16px;
}

/*.joyride-tip-guide[data-index="7"] p {*/
/*margin-right: 5px;*/
/*}*/

.joyride-tip-guide[data-index="8"] {
    margin-top: 15px;
    margin-right: 16px;
}

.joyride-tip-guide p {
    margin-right: 3px;
}

/*!*.joyride-expose-wrapper div.joyride-expose-wrapper.expose-2509 {*!*/
/*.joyride-expose-wrapper {*/
/*height: 20px;*/
/*}*/
